

body{
    background-color: #FCCC00;
}

.header{
    display:flex;
    height: 140px;
    justify-content: space-between;
    align-items: flex-end;
}

.social-bubble{
    background-color: #161616;
    color: #FCCC00;
    height: 30px;
    width: 30px;
    border-radius: 40px;
    display:flex;
    justify-content: center;
    align-items:center;
}

.social-toolbars{
    display:flex;
    justify-content: space-around;
    width:140px;
}

.social-toolbars a{
    color: #FCCC00;
    text-decoration: none;
}

#jumbotron{
    margin-top:40px;
}

.my-navbar{
    padding:0px;
}

.my-navbar a{
    font-size: 12px;
}

.my-navbar .active{
    background-color: #353535;
    box-shadow: inset 0 0 15px #000;
}

.my-navbar #navbarDropdownMenuLink{
    color:white;
}

#my-navbar-nav li{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 8px;
    padding-left: 8px;
    display: block;
    min-width: 80px;
    text-align:center;
}

#my-navbar-nav li:hover{
    background-color: #353535;
    box-shadow: inset 0 0 15px #000;
    
}

#my-navbar-nav li:hover > a{
    color:white;
}

.relative-block{
    position:relative;
}

.carousel-container{
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.title-box{
    background-color: #000;
    color:white;
    opacity:0.85;
    padding: 20px;
    text-align:center;
}

.main-title{
    border-top-width: 3px;
    border-top-color:white;
    border-top-style: solid;
    padding: 10px;
    border-bottom-width: 0.5px;
    border-bottom-color:rgba(255,255,255,0.2);
    border-bottom-style: solid;
}

.read-more{
    padding:10px;
    border-bottom-width: 3px;
    border-bottom-color:white;
    border-bottom-style: solid;
}

#my-carousel-indicators{
    bottom: -50px;
}

#my-carousel-indicators li{
    border-radius: 40px;
    height:10px;
    width:10px;
    border-width: 0px;
    background-color:white;
    opacity:1;
}

#my-carousel-indicators li.active{
    background-color: #353535;
    box-shadow: inset 0 0 15px #000;
}