

body{
    background-image: url('images/dirty-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.memo{
    width: 200px;
    height: 200px;
    background-color: #F5E37B;
    box-shadow: 10px 5px 5px black;
    margin:10px;
    position:relative;
}

.memo img{
    width: 100%;
}

.edit-button{
    position: absolute;
    background-color: white;
    width: 40px;
    height: 40px;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    left: -15px;
    bottom: -15px;
}

.delete-button{
    position: absolute;
    background-color: white;
    width: 40px;
    height: 40px;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    right: -15px;
    bottom: -15px;
}

.memo:nth-child(3n){
    background-color: pink;
}
.memo:nth-child(3n+1){
    background-color: #F5E37B;
}
.memo:nth-child(3n+2){
    background-color: lightblue;
}


.memo-container{
    margin-bottom:20px;
    display: flex;
    justify-content: center;
}

.input-panel{
    padding-top:10px;
    padding-bottom:10px;
    background-color: lightblue;
    flex:1;
}

.memos{
    flex: 5;
    display:flex;
    flex-wrap:wrap;
    align-items: flex-start;
}



#input-new-memo-form{
    text-align:center;
}

.panel-and-memos{
    display:flex;
}

#login-form{
    text-align: center;
}

/*For mobile*/
@media(max-width:600px){
    .input-panel{
        width:100%;
    }

    .panel-and-memos{
        display:block;
    }

    .memos{
        width:100%;
    }
}