.buttonBottom {
    margin-bottom: 5px;
    margin-top: 5px;
}
body {

    padding-bottom: 100px;
    background-color: silver;
}
.box {
    font-weight: 900;
}

h3 {
    padding: 15px;
    background-color: #202020;
    color: aliceblue;
    font-size: ;
}

#dropdown {
    display: inline-block;
}
#frameRateButton{
    margin-bottom: 5px !important;
}