/*
============================================================================
WooCommerce CSSIgniter Theme BoilerPlate
============================================================================
*/

/*
============================================================================
Product Page -- Thumbnails
============================================================================
*/

div.product div.images {

}

div.product div.images img {
  height: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.product .images .thumbnails {
  padding-top: 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;

  margin-left: -5px;
  margin-right: -5px;
}

div.product div.images div.thumbnails:after {
  content: "";
  display: block;
  clear: both;
}

div.product div.images div.thumbnails a {
  display: block;
}

.product .images .thumbnails .woocommerce-product-gallery__image {
    margin-left: 5px;
    margin-right: 5px;
    width: calc(33.333% - 10px);
    margin-bottom: 15px;
}


.product .images .thumbnails > a.last {
	margin-right: 0;
}

div.product div.images div.thumbnails a img {
}

div.product div.images div.thumbnails a.last {
  margin-right: 0;
}

div.product div.images div.thumbnails a.first {
  clear: both;
}

/*
============================================================================
Product Page -- Tabs
============================================================================
*/


div.product .woocommerce-tabs {
  clear: both;
}

div.product .woocommerce-tabs ul.tabs {
  list-style: none;
  overflow: hidden;
  position: relative;
}

div.product .woocommerce-tabs ul.tabs li {
  display: inline-block;
  position: relative;
  z-index: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

}

div.product .woocommerce-tabs ul.tabs li a {
  display: inline-block;
}

div.product .woocommerce-tabs ul.tabs li a:hover {
  text-decoration: none;
}

div.product .woocommerce-tabs ul.tabs li.active {
  z-index: 2;
}

div.product .woocommerce-tabs ul.tabs li.active a {

}

div.product .woocommerce-tabs ul.tabs li.active:before {
}

div.product .woocommerce-tabs ul.tabs li.active:after {
}

div.product .woocommerce-tabs ul.tabs li:before,
div.product .woocommerce-tabs ul.tabs li:after {

}

div.product .woocommerce-tabs ul.tabs li:before {
;
}

div.product .woocommerce-tabs ul.tabs li:after {

}

div.product .woocommerce-tabs ul.tabs:before {

}

/*
============================================================================
Product Page -- Product Summary
============================================================================
*/


div.product .product_title,
.product_title.page-title {
  clear: none;
  text-transform: none !important;
}

div.product p.price {
}

.product .price del {
	font-size: 12px
}
.product .price ins {
	text-decoration: none;
}

div.product p.stock {
  font-size: 0.92em;
  padding: 2px 0 0 0;
}

.group_table .stock {
	display: inline-block;
	margin: 0 0 0 5px;
}

div.product div.summary {

}

div.product div.social {
  text-align: right;
  margin: 0 0 1em;
}

div.product div.social span {
  margin: 0 0 0 2px;
}

div.product div.social span span {
  margin: 0;
}

div.product div.social span .stButton .chicklets {
  padding-left: 16px;
  width: 0;
}

div.product div.social iframe {
  float: left;
  margin-top: 3px;
}

div.summary p.stock {
	text-transform: uppercase;
	font-size: 13px;
	padding: 7px 10px;
	position: relative;
	line-height: normal;
	display: inline-block;
}
.summary .in-stock {
	background-color: #a4ecd3;
	color: #435c50;
}

.summary .out-of-stock {
	background-color: #ff786d;
	color: #fff;
}


p.cart {
  float: right;
}

form.cart {
  margin-bottom: 24px;
}

form.cart:after {
  content: "";
  display: block;
  clear: both;
}

form.cart div.quantity {
  float: left;
  margin: 0 4px 0 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	opacity: 1;
}

form.cart table {
  font-size: 12px;
  border-width: 0 0 1px 0;
}

form.cart table td {
  padding: 4px 4px 4px 0;
}

form.cart table div.quantity {
  float: none;
  margin: 0;
  width: 72px;
}

form.cart table small.stock {
  display: block;
  float: none;
}

form.cart .variations label {
  font-weight: bold;
}

form.cart .variations select {
  width: 100%;
  float: left;
}

form.cart .button {
  vertical-align: middle;
  float: left;
}

/*
============================================================================
Product Page -- Related Products
============================================================================
*/

.products ul,
ul.products {
  margin: 0 0 14px;
  padding: 0;
  list-style: none outside;
}

.products ul li,
ul.products li {
  list-style: none outside;
}

.related:after,
.upsells.products:after {
  content: "";
  display: block;
  clear: both;
}

.related ul.products,
.upsells.products ul.products,
.related ul,
.upsells.products ul {
  float: none;
}

.related ul.products li,
.upsells.products ul.products li,
.related ul li,
.upsells.products ul li {

}

.related ul.products li img,
.upsells.products ul.products li img,
.related ul li img,
.upsells.products ul li img {
  height: auto;
}

ul.products {
  clear: both;
  margin-left: 0;
  padding-left: 0;
}

ul.products li {
  float: left;
  margin: 0 3.8% 2.992em 0;
  padding: 0;
  position: relative;
  width: 22.05%;
  margin-left: 0;
}

ul.products li .onsale {
  top: 0;
  right: 0;
  left: auto;
  margin: -6px -6px 0 0;
}

ul.products li h3 {
  padding: .5em 0;
  margin: 0;
  font-size: 1em;
}

ul.products li a {
  text-decoration: none;
}

ul.products li a img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 0 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

ul.products li a:hover img {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
}

ul.products li strong {
  display: block;
}

ul.products li .price {
  display: block;
  font-weight: normal;
  margin-bottom: .5em;
}

ul.products li .price del {
  font-size: 11px;
  line-height: 10px;
  margin: -2px 0 0 0;
  display: block;
}

ul.products li .price ins {
  background: none;
}

ul.products li .price .from {
  font-size: 11px;
  line-height: 10px;
  margin: -2px 0 0 0;
  display: block;
  text-transform: uppercase;
  color: #ccc;
}

ul.products li.first {
  clear: both;
}

ul.products li.last {
  margin-right: 0;
}

.woocommerce-ordering {
  margin-bottom: 24px;
}

/*
============================================================================
Rest of WooCommerce default styles
============================================================================
*/

.clear {
  clear: both;
}

.nobr {
  white-space: nowrap;
}

.woocommerce-message,
.info,
.woocommerce-error,
.woocommerce-info {

  padding: .55em 1em .55em 3em;
  margin: 0 0 2em;
  position: relative;

  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eeeeee));
  background: -webkit-linear-gradient(#f6f6f6, #eeeeee);
  background: -moz-linear-gradient(center top, #f6f6f6 0%, #eeeeee 100%);
  background: -moz-gradient(center top, #f6f6f6 0%, #eeeeee 100%);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);

  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 #ffffff;

  list-style: none outside;
}

.woocommerce-message .button,
.info .button,
.woocommerce-error .button,
.woocommerce-info .button {
  float: right;
}

.woocommerce-message li,
.info li,
.woocommerce-error li,
.woocommerce-info li {
  list-style: none outside;
}

.woocommerce-message:after,
.info:after,
.woocommerce-error:after,
.woocommerce-info:after {
  content: "";
  display: block;
  clear: both;
}


p small {
  color: #999;
}

p.demo_store {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 12px;
  text-align: center;
  background: #f7f5c6;

  background: -webkit-gradient(linear, left top, left bottom, from(#f7f5c6), to(#eeeac1));
  background: -webkit-linear-gradient(#f7f5c6, #eeeac1);
  background: -moz-linear-gradient(center top, #f7f5c6 0%, #eeeac1 100%);
  background: -moz-gradient(center top, #f7f5c6 0%, #eeeac1 100%);

  padding: 8px 0;
  border: 1px solid #EEEAC1;
  color: #747165;
  z-index: 999999;
  box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.3);

}

small.note {
  display: block;
  color: #999;
  font-size: 11px;
  line-height: 21px;
  margin-top: 10px;
}

#breadcrumb {
  margin: 0 0 1em;
  padding: 0;
  font-size: 0.92em;
  color: #999;
}

#breadcrumb:after {
  content: "";
  display: block;
  clear: both;
}

#breadcrumb a {
  color: #999;
}

/* =Product Page
-------------------------------------------------------------- */

div.product {
  position: relative;
}


/* =Buttons
-------------------------------------------------------------- */
a.button,
button.button,
input.button,
#review_form #submit {
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  line-height: normal;
  cursor: pointer;
  position: relative;
  font-family: sans-serif;
  text-decoration: none;
  overflow: visible;

  text-decoration: none;
  margin: 0;
}

a.button.loading,
button.button.loading,
input.button.loading,
#review_form #submit.loading {
  color: #999;
  border-color: #ccc;
}

a.button.loading:before,
button.button.loading:before,
input.button.loading:before,
#review_form #submit.loading:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url(../images/woocommerce/ajax-loader.gif) center no-repeat rgba(255, 255, 255, 0.65);
}

a.button.added:before,
button.button.added:before,
input.button.added:before,
#review_form #submit.added:before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  top: 0.35em;
  right: -26px;
  text-indent: 0;
  background: url(../images/woocommerce/success.png) no-repeat;
}

a.button:hover,
button.button:hover,
input.button:hover,
#review_form #submit:hover {

}

a.button:active,
button.button:active,
input.button:active,
#review_form #submit:active {
  top: 1px;
}

a.button.alt,
button.button.alt,
input.button.alt,
#review_form #submit.alt {

}

a.button.alt:hover,
button.button.alt:hover,
input.button.alt:hover,
#review_form #submit.alt:hover {

}

input.button {
  padding-top: 6px;
  padding-bottom: 7px;
}

.cart .button,
.cart input.button {
  float: none;
}

/* =Reviews/comments
-------------------------------------------------------------- */

#reviews h2 small {
  float: right;
  color: #999;
  margin: 10px 0 0 0;
}
#reviews h2 small a {
  text-decoration: none;
  color: #999;
}
#reviews h3 {
  margin: 0;
}
#reviews #respond {
  margin: 0;
  border: 0;
  padding: 0;
}
#reviews #comment {
  height: 75px;
}
#reviews #comments .add_review:after {
  content: "";
  display: block;
  clear: both;
}
#reviews #comments h2 {
  clear: none;
}
#reviews #comments ol.commentlist {
  margin: 0;
  width: 100%;
  background: none;
}
#reviews #comments ol.commentlist:after {
  content: "";
  display: block;
  clear: both;
}
#reviews #comments ol.commentlist li {
  padding: 00;
  margin: 0 0 20px;
  border: 0;
  position: relative;
  background: 0;
  border: 0;
}
#reviews #comments ol.commentlist li .meta {
  color: #999;
  font-size: 0.75em;
}
#reviews #comments ol.commentlist li img {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
  width: 32px;
  height: auto;
  border: 1px solid #ddd;
  background: #fff;
  margin: 0;
  line-height: 1;
}
#reviews #comments ol.commentlist li .comment-text {
  margin: 0 0 0 50px;
  border: 1px solid #ddd;
  padding: 11px 11px 0;
}
#reviews #comments ol.commentlist li .comment-text p {
  margin: 0 0 11px;
}
#reviews #comments ol.commentlist li .comment-text p.meta {
  font-size: 0.86em;
}
.star-rating {
  float: right;
  width: 80px;
  height: 16px;
  background: url(../images/woocommerce/star.png) repeat-x left 0;

}

.panel .star-rating {
  margin-right: 10px;
  margin-top: 10px;
}
.star-rating span {
  background: url(../images/woocommerce/star.png) repeat-x left -32px;
  height: 0;
  padding-top: 16px;
  overflow: hidden;
  float: left;
}
.hreview-aggregate .star-rating {
  margin: 10px 0 0 0;
}
#review_form #respond {
  border: 1px solid #E7E7E7;
  margin: 0;
  padding: 10px 20px 20px;
}
#review_form #respond:after {
  content: "";
  display: block;
  clear: both;
}
#review_form #respond p {
  margin: 0 0 10px;
}

p.stars:after {
  content: "";
  display: block;
  clear: both;
}

p.stars span {
  width: 80px;
  height: 16px;
  position: relative;
  float: left;
  background: url(../images/woocommerce/star.png) repeat-x left 0;
}

p.stars span a {
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 0;
  padding-top: 16px;
  overflow: hidden;
}

p.stars span a:hover,
p.stars span a:focus {
  background: url(../images/woocommerce/star.png) repeat-x left -16px;
}
p.stars span a.active {
  background: url(../images/woocommerce/star.png) repeat-x left -32px;
}
p.stars span a.star-1 {
  width: 16px;
  z-index: 10;
}
p.stars span a.star-2 {
  width: 32px;
  z-index: 9;
}
p.stars span a.star-3 {
  width: 48px;
  z-index: 8;
}
p.stars span a.star-4 {
  width: 64px;
  z-index: 7;
}
p.stars span a.star-5 {
  width: 80px;
  z-index: 6;
}

/* =Tables
-------------------------------------------------------------- */
table.shop_attributes {
  border: 0;
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
  margin-bottom: 1.618em;
  width: 100%;
}
table.shop_attributes th {
  width: 150px;
  font-weight: bold;
  padding: 8px;
  color: black;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  margin: 0;
  line-height: 1.5em;
}
table.shop_attributes td {
  font-style: italic;
  padding: 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  margin: 0;
  line-height: 1.5em;
}
table.shop_attributes td p {
  margin: 0;
  padding: 8px;
}
table.shop_attributes .alt td,
table.shop_attributes .alt th {
  background: rgba(0, 0, 0, 0.025);
}

table.my_account_orders {
  font-size: 0.85em;
}
table.my_account_orders th,
table.my_account_orders td {
  padding: 4px 8px;
  vertical-align: top;
}
table.my_account_orders .button {
  white-space: nowrap;
}
/* =Cart
-------------------------------------------------------------- */

/* =Cart Sidebar
-------------------------------------------------------------- */
ul.cart_list,
ul.product_list_widget {
  list-style: none outside;
  padding: 0;
  margin: 0;
}
ul.cart_list li,
ul.product_list_widget li {
  padding: 4px 0;
  margin: 0;
	list-style: none;
	position: relative;
}
ul.cart_list li:after,
ul.product_list_widget li:after {
  content: "";
  display: block;
  clear: both;
}
ul.cart_list li a,
ul.product_list_widget li a {
  display: block;
}

ul.product_list_widget li a.remove {
  position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	padding: 3px;
	background:#fff;
	text-align: center;
}

ul.cart_list li img,
ul.product_list_widget li img {

}
ul.cart_list li dl,
ul.product_list_widget li dl {
  margin: 0;
  font-size: 0.8751em;
  padding-left: 1em;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}
ul.cart_list li dl dt,
ul.product_list_widget li dl dt {
  float: left;
  clear: left;
  margin-right: .25em;
}
ul.cart_list li dl dd,
ul.product_list_widget li dl dd {
  margin-bottom: .5em;
}
ul.cart_list li .star-rating,
ul.product_list_widget li .star-rating {
  float: none;
}
.widget_shopping_cart .total {
  border-top: 3px double #ddd;
  padding: 4px 0 0;
}
.widget_shopping_cart .total strong {
  min-width: 40px;
  display: inline-block;
}
.widget_shopping_cart .buttons:after {
  content: "";
  display: block;
  clear: both;
}
/* =Cart
-------------------------------------------------------------- */

/* =Forms
-------------------------------------------------------------- */
.form-row {
  margin: 0 0 6px;
}
.form-row:after {
  content: "";
  display: block;
  clear: both;
}
.form-row label {
  display: block;
}
.form-row label.hidden {
  visibility: hidden;
}
.form-row select {
  width: 100%;
  cursor: pointer;
  margin: 0;
}
.form-row .required {
  font-weight: bold;
  border: 0;
}
.form-row .input-checkbox {
  display: inline;
  margin: -2px 8px 0 0;
  text-align: center;
  vertical-align: middle;
}
.form-row label.checkbox {
  display: inline;
}
form .form-row input.input-text,
#content .form-row input.input-text,
form .form-row textarea,
#content .form-row textarea {
width: 100%;
}
form .form-row textarea,
#content .form-row textarea {
  display: block;
}
form .form-row input.input-text:focus,
#content .form-row input.input-text:focus,
form .form-row textarea:focus,
#content .form-row textarea:focus {
}
.form-row-first,
.form-row-last {
  float: left;
  width: 47%;
  overflow: visible;
}
.form-row-last {
  float: right;
}

/* =Checkout
-------------------------------------------------------------- */

form.login {
}
#payment {
  background: rgba(0, 0, 0, 0.025);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#payment ul.payment_methods {
  text-align: left;
  padding: 1em;
  border-bottom: 1px solid #eee;
  margin: 0;
  list-style: none outside;
}
#payment ul.payment_methods:after {
  content: "";
  display: block;
  clear: both;
}
#payment ul.payment_methods li {
  line-height: 2em;
  text-align: left;
  margin: 0;
  font-weight: normal;
}
#payment ul.payment_methods li input {
  margin: 0 1em 0 0;
}
#payment ul.payment_methods li img {
  vertical-align: middle;
  margin: -2px 0 0 0.5em;
  position: relative;
}
#payment div.form-row {
  padding: 1em;
  border-top: 1px solid #fff;
}
#payment #place_order {
  float: right;
  margin: 0;
}
#payment .terms {
  padding: 0 1em 0;
  text-align: right;
}
#payment div.payment_box {
  position: relative;
  width: 96%;
  padding: 1em 2%;
  margin: 1em 0 1em 0;
  font-size: 0.92em;
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eeeeee));
  background: -webkit-linear-gradient(#f6f6f6, #eeeeee);
  background: -moz-linear-gradient(center top, #f6f6f6 0%, #eeeeee 100%);
  background: -moz-gradient(center top, #f6f6f6 0%, #eeeeee 100%);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 #ffffff;
  line-height: 1.5em;
}

#payment div.payment_box p:last-child {
  margin-bottom: 0;
}
#payment div.payment_box #cc-expire-month,
#payment div.payment_box #cc-expire-year {
  width: 48%;
  float: left;
}
#payment div.payment_box #cc-expire-year {
  float: right;
}
#payment div.payment_box span.help {
  font-size: 11px;
  color: #999;
  line-height: 13px;
  font-weight: normal;
}
#payment div.payment_box .form-row {
  margin: 0 0 1em;
}
#payment div.payment_box .form-row select {
  width: 48%;
  float: left;
  margin-right: 3.8%;
}
#payment div.payment_box .form-row select:nth-child(3n) {
  margin-right: 0;
}

#payment div.payment_box:after {
  content: "";
  display: block;
  border: 8px solid #eee;
  /* arrow size / color */

  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: -4px;
  left: 0;
  margin: -1em 0 0 2em;
}
div.shipping-address {
  padding: 0;
  clear: left;
}
div.shipping_address {
  width: 100%;
}
#shiptobilling {
  float: right;
  line-height: 1.62em;
  margin: 0 0 0 0;
  padding: 0;
}
#shiptobilling label {
  font-size: 0.6875em;
}
.checkout .col-2 h3 {
  float: left;
  clear: none;
}
.checkout .col-2 .notes {
  clear: left;
}
.checkout .col-2 .form-row-first {
  clear: left;
}

.shipping-calculator-button {
	display: block;
	margin-top: 30px;
}

#shipping_method {
	list-style: none;
	margin: 0;
	padding: 5px 0;
}

#shipping_method li {
	margin: 10px 0;
	display: block;
}

#shipping_method label {
	display: inline-block;
	font-size: 13px;
	margin: 0 0 0 3px;
}

.checkout .form-row-first, .checkout .form-row-last {
	float: none;
	width: 100%;
}
/* =Order Page
-------------------------------------------------------------- */
.order_details {
  margin: 0 0 1.5em;
  list-style: none;
}
.order_details:after {
  content: "";
  display: block;
  clear: both;
}
.order_details li {
  float: left;
  margin-right: 2em;
  text-transform: uppercase;
  font-size: 0.715em;
  line-height: 1em;
  border-right: 1px dashed #ccc;
  padding-right: 2em;
}
.order_details li strong {
  display: block;
  font-size: 1.4em;
  text-transform: none;
  line-height: 1.5em;
  color: #333;
}
.order_details li.method {
  border: none;
}
/* =Account
-------------------------------------------------------------- */
.addresses .title:after {
  content: "";
  display: block;
  clear: both;
}
.addresses .title h3 {
  float: left;
}
.addresses .title .edit {
  float: right;
}
ol.commentlist.notes li.note p.meta {
  font-weight: bold;
  margin-bottom: 0;
}
ol.commentlist.notes li.note .description p:last-child {
  margin-bottom: 0;
}
ul.digital-downloads {
  margin-left: 0;
  padding-left: 0;
}
ul.digital-downloads li {
  list-style: none;
  margin-left: 0;
  padding-left: 1.5em;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAYAAAA1WQxeAAAAQUlEQVQIHWP8//8/AwgwMjLWgxlQAijeCGIyIQtiYxNUwAjUhWI0uilMMLvQJUB8kBzYCmyKYGJwN8AEYDphJgIAPtccffZCsOoAAAAASUVORK5CYII=) left no-repeat;
}
ul.digital-downloads li .count {
  float: right;
}
.woocommerce-MyAccount-content {
  float: left;
  width: calc(75% - 30px);
}
.woocommerce-MyAccount-navigation {
  float: left;
  width: 25%;
  margin-right: 30px;
}
.woocommerce-MyAccount-navigation ul {
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
}
.woocommerce-MyAccount-navigation-link a {
  padding: 10px 0;
  display: block;
  border-bottom: 1px solid #353535;
  position: relative;
}
.woocommerce-MyAccount-navigation-link a::after {
  content: "";
  position: absolute;
  right: 5px;
  top: 18px;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-left-color: #626262;
}
.woocommerce-MyAccount-navigation-link.is-active a {
  color: #626262;
  font-weight: bold;
}
/* =Layered Nav Widget
-------------------------------------------------------------- */
.widget_layered_nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none outside;
}
.widget_layered_nav ul li {
  padding: 0 0 1px;
  list-style: none;
}
.widget_layered_nav ul li:after {
  content: "";
  display: block;
  clear: both;
}
.widget_layered_nav ul li a,
.widget_layered_nav ul li span {
  padding: 1px 0;
  float: left;
}
.widget_layered_nav ul li.chosen a {
  padding: 0 6px 0 18px;
  border: 1px solid #3399cc;
  background: #3399cc url(../images/woocommerce/cross_white.png) no-repeat 6px center;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5) #888888;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5) #888888;
  -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5) #888888;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.widget_layered_nav ul small.count {
  float: right;
  margin-left: 6px;
  font-size: 1em;
  padding: 1px 0;
  color: #999;
}

/* =Price Filter Widget
-------------------------------------------------------------- */
.widget_price_filter .price_slider {

}
.widget_price_filter .price_slider_amount {

}
.widget_price_filter .price_slider_amount .button {

}
.widget_price_filter .price_slider_amount .button {

}
.widget_price_filter .ui-slider {

}
.widget
_price_filter .ui-slider .ui-slider-handle {

}

.widget_price_filter .ui-slider .ui-slider-handle:last-child {

}

.widget_price_filter .ui-slider .ui-slider-range {

}
.widget_price_filter .price_slider_wrapper .ui-widget-content {

}
.widget_price_filter .ui-slider-horizontal {

}
.widget_price_filter .ui-slider-horizontal .ui-slider-range {

}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {

}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {

}
