/*!
Theme Name: Acoustic
Theme URI: http://themeforest.net/item/acoustic-premium-music-wordpress-theme/3750782
Author: the CSSIgniterVIP team
Author URI: https://www.cssigniter.com/
Description: Music theme for WordPress
Tags: three-columns
Version: 3.6.2
License: GNU General Public License
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: ci_theme
Domain Path: /lang
*/

/* GLOBAL: #Basic Styles
================================================== */
body {
	font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	background: #ffcc00;
	color:#626262;
	padding:20px 0 0 0;
}

/* GLOBAL: #Headers font
================================================== */
@font-face {
    font-family: 'League Gothic';
    src: url(../../../../../../../../themes/acoustic/fonts/leaguegothic-regular-webfont.eot);
    src: url('../../../../../../../../themes/acoustic/fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url(../../../../../../../../themes/acoustic/fonts/leaguegothic-regular-webfont.woff) format('woff'),
         url(../../../../../../../../themes/acoustic/fonts/leaguegothic-regular-webfont.ttf) format('truetype'),
         url('../../../../../../../../themes/acoustic/fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: 600;
    font-style: normal;
}

h3.widget-title, .slide-title, .post-date .day, .post-date .year, .event-date .day, .event-date .year, .breadcrumb h3, .track-no, .event-date .time, .event-date .date { font-family:'League Gothic'; font-weight: normal; }

/* GLOBAL: #Helpers
================================================== */
.gradient {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}
iframe { padding-bottom:15px; }

.footer .gradient {	background: #3a3a3a; }


/* GLOBAL: #Typography
================================================== */
h1, h2, h3, h4, h5, h6 { color:#353535; word-wrap: break-word; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 32px; line-height: 34px; margin-bottom: 14px; }
h2 { font-size: 20px; line-height: 30px; margin-bottom: 10px; }
h2.section-title { padding-left:30px; }
h3 { font-size: 18px; line-height: 34px; margin-bottom: 8px; }
h3.widget-title { font-size:20px; margin:0 0 10px 0; line-height: 1; }
h4 { font-size: 16px; line-height: 30px; margin-bottom: 4px; }
h5 { font-size: 14px; line-height: 24px; }
h6 { font-size: 12px; line-height: 21px; }
p.excerpt { font-size: 16px; font-weight:bold; }
.pair-title { font-size:13px; line-height: 1; margin:0 0 5px 0; }
.pair-sub { font-size:12px; line-height: 1; margin:0; color:#7c7c7c; font-style: normal; }
pre { font: 13px "Courier 10 Pitch", Courier, monospace; line-height: 1.5; margin-bottom: 15px; overflow: auto; padding: 0.75em 1.625em; border: 1px solid rgba(0,0,0,0.06); }


/* GLOBAL: #Links
================================================== */
a, input[type=submit] { -o-transition:.3s; -ms-transition:.3s; -moz-transition:.3s; -webkit-transition:.3s; transition:.3s; }
a, a:hover, a:visited { color:#353535; outline:0; text-decoration: none; }
a img { border:none; }
p a, p a:visited { line-height: inherit; }
.content a, .sidebar a { border-bottom:solid 1px #ffcc00; }
.content a:hover, .sidebar a:hover { border-bottom:solid 1px #353535; }


/* GLOBAL: #Buttons
================================================== */
.btn, .comment-reply-link, .button,.added_to_cart { display:inline-block; font-style: normal; color:#353535; background: #ffcc00; font-size:10px; font-weight:bold; padding:7px 12px 6px 12px; text-transform: uppercase; line-height: 1; text-shadow: none; }
.btn:hover, .comment-reply-link:hover, .button:hover { border-bottom:none; background: #353535; color:#ffcc00; }
.widget .btn { padding:5px 10px; }


/* GLOBAL: #Tables
================================================== */
table { width:100%; }
table { border-width: 1px 0 0 1px;	margin-bottom: 24px; }
th:first-child, td:first-child { padding-left: 0; }
caption, th, td { font-weight: normal;	text-align: left; padding: 5px;	vertical-align: middle; }
th { border-width: 0 1px 1px 0;	font-weight: bold; text-transform: uppercase;	font-size: 85%; }
td { border-width: 0 1px 1px 0; }
.content table a { border: none; }


/* GLOBAL: #Iframes and videos
================================================== */
iframe, video, audio, object, embed { max-width: 100%; }


/* GLOBAL: #Forms
================================================== */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea { border-radius:0; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { background: #ffcc00; color:#353535; border:none; font-size:10px; font-weight:bold; padding: 9px 15px 9px; }
button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover { background: #353535; color:#ffcc00; }


/* GLOBAL: #Floats
================================================== */
.alignleft { float:left; margin:5px 15px 15px 0; }
.alignright { float:right; margin:5px 0 15px 15px; }
.aligncenter { clear: both;	display: block;	margin-left: auto; margin-right: auto; }


/* GLOBAL: #Header
================================================== */
.logo { margin-bottom:0; }
.slogan { margin-top:0; font-size:12px; }


/* GLOBAL: #Breadcrumb
================================================== */
.breadcrumb { margin:0 0 30px 0; }
.breadcrumb h3 { background: #353535; color:#fff; margin:0; font-size:26px; line-height: 1; padding:20px 0 17px 20px; box-shadow: 0 0 7px rgba(0,0,0,0.1); }


/* GLOBAL: #Footer
================================================== */
.footer-wrap { margin-top:60px; background: #353535 url(../../../../../../../../themes/acoustic/images/bg_footer.png) no-repeat bottom right ; }
.footer { padding:60px 0 30px 0; }
.footer ul, .footer p, .footer span { font-size: 13px; line-height: 1.5; }
.footer a { color:#ffcc00; }
.footer ul, .footer ol { list-style: none; }
.footer li { border-bottom:solid 1px #4a4a4a; padding:10px 0; }
.footer li:last-child { border-bottom: none; }
.footer li:first-child { padding-top:0; }
.footer li p { margin-bottom:0; }
.footer .btn, .footer .button { color: #222; }
.footer .btn:hover, .footer .button:hover { background-color: #111; }
.footer h1, .footer h2, .footer h3, .footer h4 { color: #FFF; }


/* GLOBAL: #Widgets
================================================== */
aside.sidebar, aside p, aside li { font-style: normal; font-size:13px; }
.widget { margin-bottom:30px; padding-top: 30px; position: relative; }
.widget-content { background-color: #fff; box-shadow: 0 0 7px rgba(0,0,0,0.1); padding: 10px; }
.widget .widget-content { padding:10px; background: #fff; box-shadow: 0 0 7px rgba(0,0,0,0.1); }
.widget .widget-content > ul { list-style: none; margin: 0;}

.widget h3.widget-title { position: absolute; top: 0; left: 0; }
.widget .post-date { background: none; position:static; padding:0; margin:0; color:#626262; border:none; width:auto; }
.footer, .footer .widget h3, .footer p { color:#fff; }
.footer .widget-content { background: none; box-shadow: none; color:#fff; }
.footer .widget-content p, .footer li { color:#fff; font-style: normal; }
.footer .widget .widget-content { background: none; padding:0; }

.footer .widget-content {	background: transparent; }
.footer .widget_ci_discography_widget .widget-content,
.footer .widget_ci_event_widget .widget-content,
.footer .widget_ci_videos_widget .widget-content,
.footer .widget_ci_galleries_widget .widget-content { background: #3A3A3A; }


/* GLOBAL: #Listing pages
================================================== */
.listing { list-style: none; }
.listing li { margin-bottom:30px; }
.listing li img {	-webkit-transition: opacity 0.25s ease;
	-moz-transition: opacity 0.25s ease;
	-ms-transition: opacity 0.25s ease;
	-o-transition: opacity 0.25s ease;
	transition: opacity 0.25s ease; }
.listing li img:hover { opacity:0.8; }
.listing .widget-content { padding:10px; }
.listing .widget-content img { display:block; margin-bottom:10px; }
.listing .widget-content .btn { margin-top:10px; }
.video-listing .widget-content .btn { margin-top:0; }


/* MODULE: #Slider
================================================== */
.slider { margin-bottom:30px; }
.slides { box-shadow: 0 0 7px rgba(0,0,0,0.1); }
.slides li { position:relative; }
.slider-text-wrap { position:absolute; bottom:30px; right:0; }
.slide-text { background: #000; background: rgba(0,0,0,0.8); padding:30px 25px 25px 25px; text-align: center; z-index:10000; }
.slide-text span.slide-title { margin:0; padding:10px 0 8px 0; color:#fff; font-size:36px; line-height: 1; border-top:solid 3px #fff; border-bottom:solid 1px rgba(255,255,255,0.2); }
.slide-text a { display:block; color:#fff !important; padding:8px 0 10px 0; border-bottom:solid 3px #fff; }
.slide-more { border-bottom:none !important; }
.video-slide iframe { padding-bottom:0; }


/* MODULE: #Main navigation
================================================== */
.navigation { margin-top:30px;  }
#navigation { margin-bottom:0; background: #fff; width:100%; box-shadow: 0 0 7px rgba(0,0,0,0.1); }
#navigation * { margin: 0; padding: 0; list-style: none; }
#navigation { line-height:	1.0; float: left; }
#navigation ul { position: absolute; top: -999em; width: auto; box-shadow: 0 0 7px rgba(0,0,0,0.1);  }
#navigation ul ul { overflow:visible !important; }
#navigation ul li { width: 100%; }
#navigation li:hover { visibility: inherit; }
#navigation li { float: left; position: relative; text-decoration:none;  }
#navigation a { white-space: nowrap; display: block; background: #fff; position: relative; font-size:12px; font-weight:300; padding: 25px; }
#navigation ul li a, #navigation ul ul li a { padding: 15px 55px 15px 15px !important;}
#navigation li.current-menu-item li a { background: #fff; color:#353535; box-shadow: none; }
#navigation a:hover, #navigation .current-menu-item a, #navigation li.current-menu-item li a:hover, #navigation .sfHover:hover > a { background: #353535; color:#fff; box-shadow: inset 0 0 15px #000; }
#navigation li li a, #navigation li li li a { font-size:12px; padding:15px; }
#navigation a:hover { border:none; }
#navigation li:hover ul,#navigation li.sfHover ul { left: -1px; top: 62px; z-index: 99; }
ul#navigation li:hover li ul, ul#navigation li.sfHover li ul { top: -999em; }
ul#navigation li li:hover ul, ul#navigation li li.sfHover ul { left: 100%; top: -1px; }
ul#navigation li li:hover li ul, ul#navigation li li.sfHover li ul { top: -999em; }
ul#navigation li li li:hover ul, ul#navigation li li li.sfHover ul { left: 10em; top: 0; }
.alt-nav { display:none; }



.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 45%;
	right: 12px;
	height: 0;
	width: 0;
	margin-top: 1px;
	/* order of following 3 rules important for fallbacks to work */
	border: 4px solid transparent;
	border-top-color: #727272; /* edit this to suit design (no rgba in IE8) */
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: #202020; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -2px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #202020; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(0,0,0,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: #FFF !important;
	border-top-color: transparent !important;
}

.sf-arrows li:hover > .sf-with-ul:after {
	border-top-color: #FFF;
}

/* MODULE: #Media Block
================================================== */
.latest-media { margin-bottom:30px; }
.media-block { position:relative; background: #fff; box-shadow: 0 0 7px rgba(0,0,0,0.1); }
.media-block img { display:block; }
.media-block-details { padding:10px; }
.media-photo .btn { margin-top:10px; }
.media-video { background-image: url(../../../../../../../../themes/acoustic/images/icon_video.png); background-repeat: no-repeat; background-position: 90% 90%; }
.media-photo { background-image: url(../../../../../../../../themes/acoustic/images/icon_photo.png); background-repeat: no-repeat; background-position: 90% 90%; }
.media-act { width:100%; height:70%; display:block; position:absolute; top:0; left:0; display:none; }
.media-video .media-act { background: url(../../../../../../../../themes/acoustic/images/icon_play.png) no-repeat 50% 50%; }
.media-photo .media-act { background: url(../../../../../../../../themes/acoustic/images/icon_zoom.png) no-repeat 50% 50%; }


/* MODULE: #Post
================================================== */
.post { background: #fff; box-shadow: 0 0 7px rgba(0,0,0,0.1); margin-bottom:30px; }
.post:last-child { margin-bottom:0; }
.post img.post-featured { display:block; }
.post-date { display:block; background: #353535; color:#fff; padding:15px 0; position:absolute; bottom:0; left:30px; width:65px; border-bottom:solid 5px #ffcc00; }
.post-date span { display:block; text-align: center; line-height: 1; }
.post-date .day { font-size:32px; }
.post-date .month { font-size:10px; color:#a8a8a8; padding:2px 0 3px 0; }
.post-date .year { font-size:18px; }
.post-featured { position:relative; }
.post-copy { padding:10px 30px 30px 30px; }
.post-copy > *:last-child { margin-bottom:0; }
.post-body { position:relative; }
.post-meta { font-size:12px; margin:18px 0 15px 0; border-top:double 3px #f1f1f1; border-bottom:double 3px #f1f1f1; padding:5px 0; }
.post-404 { padding-top:30px; }
.post-404 #search-body { margin-bottom:0; }
.gallery-icon a { border-bottom:0 !important; }


/* MODULE: #Post Comments
================================================== */
.pad { padding:0 30px; }
#comment-list { margin-left:0; }
.post-comments ol, .post-comments ul { list-style: none; font-size:inherit;  }
.post-comments > ol { margin-left:0; margin-bottom:0; }
.post-comments li { position:relative; }
.post-comments .avatar { position:absolute; top:3px; left:0; margin: 0 15px 5px 0; text-align: center; }
.post-comments .comment-text { margin-bottom:10px; }
.post-comments > .comment-text:last-child { margin-bottom:0; }
.post-comments .comment-copy { margin-left:60px;  padding: 0 15px 15px 0; }
.post-comments .comment-copy p { margin-bottom:10px; }
.post-comments .comment-meta { margin-bottom:5px; line-height: 1; font-weight:bold; }
.post-form { margin:0 30px 30px 0; }
#cancel-comment-reply-link { margin-left:20px; }
ol li ul, ol li ol { margin-bottom: 0; margin-left: 60px; }
ul li ul, ul li ol { margin-bottom: 0; margin-left: 30px; }

.comment-form-cookies-consent {
  line-height: normal;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.comment-form-cookies-consent [type="checkbox"] {
  margin: 0;
}

.comment-form-cookies-consent label {
  display: inline-block;
  margin: 0 0 0 8px;
  text-transform: none;
	cursor: pointer;
	padding: 0;
}


/* MODULE: #Events
================================================== */
.events-section li { position:relative; }
.events-section .event-info { margin:21px 0 0 10px; }
.events-section .event-info .btn { position:absolute; top:23px; right:30px; }
#map { height:400px; }
#map h3 { line-height: 1; font-size:18px; margin-bottom:5px; }
#map h4 { line-height: 1; font-size:14px; margin-bottom:8px; }
#map p { line-height:1; font-size:12px; }
#map img { max-width: none; }


/* MODULE: #Discography
================================================== */
.widget-tracks { list-style: none; }
.widget-tracks li { position:relative; }
.widget-tracks li:nth-child(even) .track-no { background: #3f3f3f; }
.track-no { float:left; width:65px; background: #353535; color:#fff; padding:10px 0; margin-bottom:0; text-align: center; font-size:30px; }
.track-info { float:left; margin:18px 0 0 20px; }
.track-audio { clear:both; display:none; }
.track-listen, a.sm2_button { display:block; width:30px; height:30px; position:absolute; top:20px; right:20px; text-indent: -9999px; background: url(../../../../../../../../themes/acoustic/images/bg_speaker.png) no-repeat; border-bottom:none !important; transition: none;}
.btns { position:absolute; right:60px; top:22px; }
.btns a { margin-left:5px; }
.single-meta { list-style: none; border-bottom:solid 1px #f1f1f1; font-weight:bold; padding-bottom:20px; }
.single-meta span { font-weight:normal; display:inline-block; min-width:100px; text-align: right; }

.track-lyrics-hold { display: none; }
a.sm2_button { background: url(../../../../../../../../themes/acoustic/images/icon_playback.png) no-repeat; }
a.sm2_button.sm2_playing { background-position: 0 -30px; }


/* MODULE: #Video
================================================== */
.video-player-archive { display:none; }
.video-single iframe { padding-bottom:0; }


/* MODULE: #Video
================================================== */
.gallery-link { display:block; }
.gallery-link img { display:block; }
.gallery-link-pad img { margin-bottom:10px; }
.hidden { display: none; }


/* MODULE: #Content pages
================================================== */
.content-inner { background: #fff; padding:40px 50px; box-shadow: 0 0 7px rgba(0,0,0,0.1); }
.content-single { margin-top:30px; }
.content-fullwidth { margin-top:0; }


/* MODULE: #Pagination
================================================== */
.pagination a, .pagination span, .wp-pagenavi a, .wp-pagenavi span, .woocommerce-pagination a, .woocommerce-pagination span { display:inline-block; font-size:11px; font-weight:bold; line-height: 1; background: #fff; box-shadow: 0 0 7px rgba(0,0,0,0.1); padding:10px 12px; margin-right:10px; border:none; }
.pagination a:hover, .wp-pagenavi a:hover, .woocommerce-pagination a:hover { background: #353535; color:#fff; border:none; }
.pagination .current, .wp-pagenavi .current { background: #353535; color:#ffcc00; }
.woocommerce-pagination ul { list-style: none; margin: 0; padding: 0; }
.woocommerce-pagination ul li { float: left; }
#paging .nav-symbol { border: none; padding: 0; margin: 0; box-shadow: none; background: none; }
#paging a:hover .nav-symbol { color: inherit; }

/* WIDGET: #Artists
================================================== */
.widget-artists { list-style: none; }
.widget-artists p { margin-bottom:0; }
.artist-photo { float:left; width:83px; }
.artist-photo img { display:block; }
.artist-info { float:left; padding:10px; }
.artist-info span { display:block; font-style: normal; }
.artist-info .btn { margin-top:10px; }


/* WIDGET: #Artist
================================================== */
.widget_ci_artist_widget .widget-content, .widget-single-artist .widget-content { padding:10px; margin-bottom:0; }
.widget_ci_artist_widget .widget-content img { display:block; margin-bottom:10px; }
.widget_ci_artist_widget .btn { margin-top:10px; }
.widget-single-artist img { margin-bottom:0; display:block;}


/* WIDGET: #Discography
================================================== */
.widget_ci_discography_widget .widget-content { padding:0; margin-bottom:0; }
.single-cpt_discography .widget_ci_discography_widget .widget-content { padding:10px; }
.widget_ci_discography_widget .widget-content .widget-content { padding:10px; }
.widget_ci_discography_widget .widget-content img { display:block; margin-bottom:10px; }
.widget_ci_discography_widget .btn { margin-top:10px; }
.widget_ci_tracklisting_widget .widget-content > a { border: none; }
.widget_ci_tracklisting_widget img{ margin-bottom: 5px; }
.widget-tracks li { min-height: 68px; }
.widget_ci_tracklisting_widget .widget-content { padding: 0; }
.widget_ci_tracklisting_widget .album-info { padding: 0 10px 10px; }

/* WIDGET: #Events
================================================== */
.widget_ci_events_widget .widget-content { padding:0; }
.widget-events { list-style:none; box-shadow: 0 0 7px rgba(0,0,0,0.1); padding:0 !important;  }
.widget_ci_events_widget .widget-events { margin-bottom:0; }
.page-template-template-events-php .widget-events { box-shadow:none; }
.widget-events li:nth-child(even) .event-date { background: #3f3f3f; }
.widget-events .btn { margin-top:10px; }
.event-date { float:left; width:65px; background: #353535; color:#fff; padding:10px 0; margin-bottom:0;  }
.event-date span { display:block; text-align: center; line-height: 1; font-style: normal; }
.event-date .day, .event-date.recurrent .date {color: #fff; font-size:32px; }
.event-date .month, .event-date.recurrent { font-size:10px; color:#a8a8a8; padding:2px 0 3px 0; text-align: center; text-transform: uppercase; }
.event-date .year, .event-date.recurrent .time { color: #FFF; font-size:20px; }
.event-info { float:left; padding:10px; }
.event-flyer { margin-bottom:0; padding:10px; }
.event-flyer img { display:block; }
.widget-single-event .widget-content { padding:10px; margin-bottom:0; }
.widget-single-event img { margin-bottom:0; display:block;}
.widget_ci_event_widget li { background: #FFF; }
.event-date.recurrent { padding-top: 10px; padding-bottom: 10px; }

/* WIDGET: #Flickr
================================================== */
.widget_ci_flickr_widget .widget-content { padding:0; }
.f { padding:10px; background: #fff; box-shadow: 0 0 7px rgba(0,0,0,0.1);  }
.footer .f { background: none; }
.flickr_badge_image { float: left; margin-right: 10px; margin-bottom: 10px; padding: 0; }
.flickr_badge_image img { width:80px; height:80px; }
.flickr_badge_image:nth-child(3n+1) { margin-right:0; }
.flickr_badge_image img { display: block; }
.flickr_badge_image:nth-last-of-type(-n+3) { margin-bottom:0; }


/* WIDGET: #Galleries
================================================== */
.widget_ci_galleries_widget .widget-content { padding:0; }
.widget_ci_galleries_widget .widget-content .widget-content { padding:10px; }
.widget_ci_galleries_widget .widget-content .btn { margin-top:10px; }
.widget_ci_galleries_widget .widget-content img { display:block; margin-bottom:10px; }


/* WIDGET: #Videos
================================================== */
.widget_ci_videos_widget .widget-content { padding:0; }
.widget_ci_videos_widget .widget-content .widget-content { padding:10px; }
.widget_ci_videos_widget .widget-content img { display:block; margin-bottom:10px; }
video, audio { max-width:100%; }
.mejs-container video, .mejs-container audio { max-width:none; }
.mejs-container object, .mejs-container embed { height:360px; }

/* WIDGET: #Twitter
================================================== */
.widget_ci_twitter_widget .tul { background: #fff; box-shadow: 0 0 7px rgba(0,0,0,0.1); }
.widget_ci_twitter_widget ul { list-style: none; margin-bottom:0;  }
.widget_ci_twitter_widget li { border-bottom:solid 1px #f1f1f1; padding-bottom:10px; margin-bottom:10px; }
.widget_ci_twitter_widget li:last-child { margin-bottom:0; padding-bottom:0; border-bottom:0; }
a.twitter-time { display:block; width:auto; font-size:11px; padding:5px 0; border-bottom:none; }
.footer .widget_ci_twitter_widget .tul { background: none; box-shadow: none; }


/* WIDGET: #About, Text, Pages
================================================== */
.widget_about, .textwidget { font-size:13px; }
.textwidget p:last-child { margin-bottom:0; }
.widget_recent_entries li { margin-bottom: 10px; }
.widget_recent_entries .post-date { font-size: 11px; }


/* WIDGET: #Search
================================================== */
.widget > h3 + form#searchform, .widget_product_search form#searchform { background: #fff; padding:10px; box-shadow: 0 0 7px rgba(0,0,0,0.1); }
.widget_search label, .widget_product_search label { display:none; }
.widget_search input[type=text], .widget_product_search input[type=text] { font-size: 11px; }


/* WIDGET: #Artists
================================================== */
.widget_ci_artists_widget ul.widget-artists, .widget_ci_artists_widget .widget-content { padding:0 !important; margin-bottom:0; }


/* WIDGET: #Event
================================================== */
.widget_ci_event_widget .widget-content { padding:0; !important; }



/* WIDGET: #Social Links
================================================== */
.socials-top .widget.widget_ci_socials_ignited,
.socials-top .widget.widget_ci_socials_ignited_fontawesome,
.socials-top .widget.widget_socials_ignited { padding: 0; margin: 0; height: 100%; width: 100%; display: table; text-align: right;}
.socials-top .ci-socials-ignited,
.socials-top .ci-socials-ignited-fa { display: table-cell; vertical-align: middle; }
.socials-top h3.widget-title { display: none; }


/* WordPress Specifics
================================================== */
.sticky {}
.bypostauthor {}
.wp-caption { max-width: 96%; padding: 5px 3px 10px; text-align: center; }
.wp-caption.alignnone { margin: 5px 20px 20px 0; }
.wp-caption.alignleft {	margin: 5px 20px 20px 0; }
.wp-caption.alignright { margin: 5px 0 20px 20px; }
.wp-caption img { border: 0 none; height: auto;	margin: 0; max-width: 98.5%; padding: 0; width: auto; }
.wp-caption p.wp-caption-text {	font-size: 11px; line-height: 17px;	margin: 0; padding: 7px 4px 0; }
.sticky {}
.bypostauthor { }

.gallery {
	margin-bottom: 20px;
	overflow: hidden;
}

.gallery-item {
	float: left;
	margin: 0 4px 4px 0;
	overflow: hidden;
	position: relative;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 48%;
	max-width: -webkit-calc(50% - 4px);
	max-width:         calc(50% - 4px);
}

.gallery-columns-3 .gallery-item {
	max-width: 32%;
	max-width: -webkit-calc(33.3% - 4px);
	max-width:         calc(33.3% - 4px);
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 4px);
	max-width:         calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 4px);
	max-width:         calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 4px);
	max-width:         calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 4px);
	max-width:         calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 4px);
	max-width:         calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 4px);
	max-width:         calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
	clear: left;
}

.gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	color: #fff;
	font-size: 12px;
	line-height: 1.5;
	margin: 0;
	max-height: 50%;
	opacity: 0;
	padding: 6px 8px;
	position: absolute;
	bottom: 5px;
	left: 0;
	text-align: left;
	width: 100%;
}

.gallery-caption:before {
	content: "";
	height: 100%;
	min-height: 49px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

/* Gutenberg Blocks
================================================== */
.post-copy > [class^="wp-block-"] {
	margin-bottom: 30px;
}

.wp-block-audio audio,
.wp-block-video video {
	width: 100%;
}

/* PLUGIN: #WooCommerce Styles
================================================== */

.entry-summary > .woocommerce-product-rating { display: none; }

.shop-actions, .term-description, .page-description {
	padding: 20px;
	background: #FFF;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
	font-size: 12px;
	margin-bottom: 30px;
}

.shop-actions p {
	font-size: 12px;
	float: left;
	max-width: 40%;
	margin: 2px 0 0 0;
}

.shop-actions .woocommerce-ordering {
	float: right;
	margin: 0;
	font-size: 12px;
}

.woocommerce-ordering select {
	padding: 3px 5px;
}

.product-item {
	margin-bottom: 30px;
}

.product-item > div, .woocommerce-message {
	background: #FFF;
	box-shadow: 0 0 7px rgba(0,0,0,0.1);
	position: relative;
}

.woocommerce-info {
	background: #F8F8F8;
	font-size: 12px;
	box-shadow: none;
	padding: 15px 20px;
}

.woocommerce-message {
	padding: 20px 20px;
}

.listing .product-thumb img {
	-webkit-transition: opacity 0.25s ease;
	-moz-transition: opacity 0.25s ease;
	-ms-transition: opacity 0.25s ease;
	-o-transition: opacity 0.25s ease;
	transition: opacity 0.25s ease;
}

.listing .product-thumb img:hover {
	opacity: 0.8;
}

.product-item .product-price .amount {
	font-family: 'League Gothic', Impact, sans-serif;
	font-weight: normal;
	font-size: 24px;
	display: block;
	line-height: 1;
}

.product-item .product-price del .amount {
	font-size: 20px;
	color: #A8A8A8;
}


.product-item .product-price del {
	color: red;
}

.product-item .product-price ins {
	text-decoration: none;
}

.product-item .product-price .from {
	color: #A8A8A8;
	font-size: 9px;
	padding: 2px 0 3px;
	text-transform: uppercase;
}

.product-info .pair-sub {
	font-size: 11px;
}

.product-info {
	float: right;
	padding: 10px;
	width: 80%;
}

.product-item .product-price {
	background: none repeat scroll 0 0 #353535;
	color: #FFFFFF;
	float: left;
	margin-bottom: 0;
	padding: 30px 0;
	text-align: center;
	width: 20%;
	position: absolute;
	bottom: 0;
}

.product-item .button {
	margin-top: 10px;
}


h1.product_title {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 0;
}

.post.entry-summary {
	margin-bottom: 30px;
}

.images {
	margin-bottom: 30px;
}

.woocommerce-tabs {
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
	padding: 20px;
}


ul.tabs {
	list-style: none;
	margin: 0;
	padding: 35px 0 0 0;
}

.tab-container {
}

ul.tabs li {
	border-bottom: 1px solid #CCC;
	list-style: none;
	margin: 0;
}

ul.tabs li a,
ul.tabs li a:visited {
	padding: 10px 0;
	color: #565656;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	border-bottom: 1px solid transparent;
	font-size: 12px;
}

ul.tabs li.active a,
ul.tabs li.active a:visited {
	color: #000;
	border-bottom: 1px solid #000;
}

.woocommerce-tabs .panel.entry-content {
	padding: 20px 30px 20px 30px;
	border-left: 1px solid #ccc;
	min-height: 200px;
}

.woocommerce-tabs .panel.entry-content h2 {
	display: none;
}

#reviews #comments ol.commentlist { list-style: none; }

#reviews time {
	display: inline;
}

#reviews #comments ol.commentlist li img {
	border: none;
}

form.cart div.quantity {
	position: relative;
}

.shop_table.cart a,
.shop_table.cart a:visited {
	text-decoration: none;
	border: none;
}

.shop_table.cart a:hover {
	border: none;
}

.quantity {
	width: 80px;
	position: relative;
	height: 48px;
}

.quantity input {
	border: none;
	border-radius: 0;
	color: #FFF;
	line-height: 1;
	max-width: 100%;

	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.quantity input:focus {
}

.quantity input.qty {
	color: #000000;
	font-size: 14px;
	height: 48px;
	line-height: 1;
	padding: 0 21px;
	text-align: center;
}

.quantity .plus,
.quantity .minus {
	font-size: 15px;
	line-height: 0;
	padding: 3px 10px;
	position: absolute;
	right: 0;
	text-align: center;
	width: 30px;
	z-index: 200;
	border-left: 1px solid #353535;
	height: 50%;
}

.quantity .plus:hover,
.quantity .minus:hover {
}

.quantity .plus {
	top: 0;
}

.quantity .minus {
	bottom: 0;
}

.single_add_to_cart_button {
	padding: 20px 35px 17px;
	line-height: 1 !important;
	text-transform: uppercase;
	height: 48px;
}

button[disabled],
input[disabled] {
	opacity: 0.7;
	cursor: not-allowed;
	background-color: #ccc !important;
	color: #353535 !important;
}

a.button.added:before, button.button.added:before, input.button.added:before, #review_form #submit.added:before {
	right: 2px;
}

.add_to_cart_button.added {
	padding-right: 24px !important;
	color: #353535;
}

.images {
	margin: 20px 0 0 0;
}

.woocommerce-product-gallery__image {
	display: block;
	margin-bottom: 10px;
}

form.cart table.variations {
	margin-bottom: 30px;
	position: relative;
}

form.cart table.variations td {
	padding: 0;
}

form.cart table.variations label {
	display: block;
	padding: 10px;
	font-size: 14px;
}

.product .single_variation {
	margin-bottom: 14px;
}

.woocommerce-variation-price {
	font-size: 1.2em;
	font-weight: bold;
}

table.variations {
	background: #F8f8f8;
}

form.cart table.variations label {
	margin-bottom: 0;
}

form.cart .variations select {
	width: 98%;
}

form.cart table.variations .reset_variations {
	position: absolute;
	text-transform: uppercase;
	font-size: 0.8em;
	color: red;
	bottom: -27px;
	left: 0;
}

form.cart table.group_table {
	margin-bottom: 20px;
}

form.cart table.group_table label,
form.cart table.group_table span.amount {
	color: #000;
	display: inline;
	margin: 0;
	font-weight: normal;
	font-size: 14px;
}

form.cart table.group_table del span.amount {
	font-size: 12px;
}

.widget_shopping_cart_content ul li.empty {
	padding: 5px 15px;
	font-size: 12px;
}

/* WIDGET: WooCommerce Price Range
========================================= */

.woocommerce.widget_price_filter.widget .widget-content {
	background: #fff;
	padding: 10px 20px;
	box-shadow: 0 0 7px rgba(0,0,0,0.1);
}

.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-slider {
	position: relative;
	text-align: left;
	background: #e5e5e5;
	margin-bottom: 30px;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 0.9em;
	height: 1.62em;
	cursor: default;
	background: #353535;
	border-radius: 50px;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
	background: #cdd5d7;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .6em;
	margin-top: 15px;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.5em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}

.ui-slider-handle span {
	position: absolute;
	bottom: -25px;
	font-size: 12px;
	color: #647b81;
	text-align: center;
	left: -7px;
}

.price_label {
	float: right;
	font-size: 11px;
}

.sr-only, .screen-reader-text {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

/* -----------------------------------------
   WOOCOMMERCE PAGE: Cart
----------------------------------------- */
.shop_table {
	width: 100%;
	margin-bottom: 30px;
}

.shop_table td {
	padding: 10px;
}

.shop_table tr {
	border-bottom: 1px dotted #E5E5E5;
}

.shop_table td a,
.shop_table td a:visited {
	color: #000;
}

.shop_table td a:hover {
	color: #333;
}

.shop_table .variation {
	font-size: 11px;
	margin-bottom: 5px;
}

.shop_table .product-price {
	font-weight: bold;
	font-size: 12px;
	margin: 0;
}

.shop_table .variation dt {
	display: inline;
	font-weight: bold;
	margin-right: 4px;
}

.shop_table .variation dd {
	display: inline;
}

.shop_table .product-thumbnail img {
	max-width: 80px;
}

.shop_table thead tr {
	border-bottom: 1px solid #E5E5E5;
}

.shop_table th {
	padding: 10px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 11px;
	color: #000;
}

th.product-name {
	text-align: left;
}

td.product-price,
td.product-quantity,
td.product-subtotal {
	text-align:center;
}

td.product-quantity .quantity {
	margin: 0 auto;
}

.cart-collateral-wrap {
	padding: 10px 0 0 30px;
}

label[for=coupon_code] {
	color: #000;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 10px;
}

.coupon {
	position: relative;
	margin-bottom: 30px;
}

#coupon_code {
	width: 100%;
	height: 33px;
	line-height: 1;
}

input[name=apply_coupon] {
	padding: 11px;
	position: absolute;
	right: 0;
	top: 31px;
	height: 33px;
	font-size: 10px;
}

.cart_totals h2 {
	font-size: 13px;
	color: #000;
	font-weight: bold;
	font-family: Muli,"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	text-transform: uppercase;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 2px solid #000;
}

.cart_totals table {
	width: 100%;
	margin-bottom: 30px;
}

.cart_totals table th {
	padding: 10px 0;
	font-size: 11px;
	text-align: left;
	text-transform: uppercase;
}

.cart_totals table tr.total th {
	font-size: 13px;
}

.cart_totals table tr {
	border-bottom: 1px solid #E5E5E5;
}

.cart-collaterals input[name=update_cart],
.cart-collaterals input[name=proceed] {
	width: 100%;
	margin-bottom: 15px;
	padding: 14px;
	font-size: 10px;
}

.shipping-calculator-button,
.shipping-calculator-button:visited {
	font-size: 12px;
	font-family: Muli,"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 20px;
	display: block;
}

.shipping-calculator-button:after{font-family:WooCommerce;speak:none;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;margin-left:7px;content:"\e02e"; font-size: 10px;}


/* -----------------------------------------
   WOOCOMMERCE PAGE: CHECKOUT
----------------------------------------- */

form.checkout h3 {
	color: #000;
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #E5E5E5;
}

.form-row {
	margin-bottom: 20px;
}

.checkout .col-2 h3 {
	float: none;
}

.col-1, .col-2 {
	border-bottom: 2px solid #000;
	padding-bottom: 25px;
	margin-bottom: 30px;
}

.checkout .shop_table	tfoot tr {
	border: none;
}

.checkout .shop_table tfoot td,
.checkout .shop_table tfoot th {
	text-align: right;
}

.checkout .product-total {
	text-align: right;
}

.payment_methods label {
	display: inline;
}

.payment_method_paypal img {
 display: none;
}

.payment_method_paypal .about_paypal {
 font-size: 0.9em;
 margin-left: 10px;
}

.place-order .button {
 width: auto;
}

.place-order .terms {
 margin: 8px 10px 0 0;
}

label.checkbox {
 display: inline-block;
}

#payment div.payment_box {
	background: #FFF;
	border: 1px solid #E5E5E5;
	box-shadow: none;
}

#payment div.payment_box:after {
	border: 8px solid #fff;
	/* arrow size / color */

	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
	z-index: 10;
}

#payment div.payment_box:before {
	border-color: transparent transparent #E5E5E5;
	border-image: none;
	border-style: solid;
	border-width: 10px;
	content: "";
	display: block;
	left: -2px;
	margin: -1em 0 0 2em;
	position: absolute;
	top: -8px;
	z-index: 10;
}

#payment {
	border-radius: 0;
	border: 1px solid #e5e5e5;
}

#payment div.form-row {
	margin: 0;
	border: none;
}

.ci_separator {
	border-bottom: 1px solid #E5E5E5;
	margin: 40px 0;
	display: block;
}

.select2-container .select2-selection--single {
  border-radius: 0;
  border-color: #ccc;
	height: 32px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.select2-search__field {
  height: 45px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 30px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
}

/* WIDGET: #WooCommerce Widgets
================================================== */
.woocommerce.widget .widget-content {
	padding: 0;
	box-shadow: none;
	background: none;
}

.widget .product_list_widget {
	background: #fff;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.widget .product_list_widget li {
	padding: 0;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}

.footer .widget .product_list_widget li {
	background: none repeat scroll 0 0 #353535;
}

.footer .from { display: none; }

.widget .product_list_widget li a {
	font-size: 13px;
	line-height: 1;
	margin: 0;
	padding: 17px 10px 10px 10px;
	font-weight: bold;
	border: none;
}

.widget .product_list_widget img {
	float: left;
	width: 83px;
	margin: -17px 10px 0 -10px;
}

.widget .product_list_widget .amount {
	color: #7C7C7C;
	font-size: 12px;
	font-style: normal;
	line-height: 1;
	margin: 0;
	position: relative;
	top: -10px;
}

.footer .widget .product_list_widget .amount {
	color: #FFF;
}


.widget .product_list_widget .star-rating {
	margin: -5px 0 10px 92px;
}

.star-rating {
	position: relative;
}

.star-rating span {
	float: none;
	display: block;
	position: absolute;
}

.widget .product_list_widget ins {
	text-decoration: none;
}

.widget .product_list_widget .quantity .amount {
	top: 0;
}

.widget .product_list_widget .quantity {
	font-size: 12px;
	position: relative;
	top: -10px;
}

.widget_shopping_cart .total {
	bordeR: none;
	font-size: 12px;
	padding: 15px;
	color: #fff;
	background: #353535;
}

.widget_shopping_cart .buttons {
	background: #FFF;
	padding: 15px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.widget_shopping_cart .buttons a {
	width: 50%;
	text-align: center;
}

.product-category mark { background: none; }

.onsale {
	position: absolute;
	top: 20px;
	right: 15px;
	background: #343434;
	padding: 5px 10px;
	color: #FFF;
	font-size: 11px;
}

/* PLUGIN: #WP Instagram
================================================== */
.null-instagram-feed p {
	padding-top: 10px;
}

.widget .instagram-pics {
	list-style: none;
	margin: 0;
	padding: 0;
}
.widget .instagram-pics:before, .widget .instagram-pics:after {
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
}
.widget .instagram-pics:after {
	clear: both;
}

.widget .instagram-pics li {
	border-bottom: 0;
	padding: 0;
	float: left;
	width: 33.33333333333%;
}

.widget .instagram-pics li a {
	display: block;
	color: #7B7B7B;
	border-bottom: none;
}

.widget .instagram-pics li a img {
	display: block;
}

/* -----------------------------------------
   MOBILE MENU
----------------------------------------- */

#mobile-bar {
	text-align: center;
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	background: #242628;
	background-image: linear-gradient(bottom, rgb(20,22,23) 1%, rgb(34,36,38) 100%);
	background-image: -o-linear-gradient(bottom, rgb(20,22,23) 1%, rgb(34,36,38) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(20,22,23) 1%, rgb(34,36,38) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(20,22,23) 1%, rgb(34,36,38) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(20,22,23) 1%, rgb(34,36,38) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.01, rgb(20,22,23)),
		color-stop(1, rgb(34,36,38))
	);
	padding: 15px 10px 0 10px;
	height: 48px;
	border-bottom: 1px solid rgba(0,0,0,0.8);
	box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
	display: none;
}

.menu-trigger,
.menu-trigger:focus {
	width: 24px;
	height: 21px;
	background: url(../../../../../../../../themes/acoustic/images/menu_trigger.png) no-repeat;
	cursor: pointer;
	opacity: 0.85;
	margin: 0;
	outline: none;
	position: absolute;
	left: 10px;
	top: 12px;
}
.menu-trigger:hover { opacity: 0.95; }
.menu-trigger:active { opacity: 1; }

.mob-title {
	color: #eeeeee;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-shadow: 1px 1px 0 rgba(0,0,0,1);
	line-height: 1;
	margin: 0;
	padding: 0;
}
.jPanelMenu-panel { background: none !important; padding-top: 48px; }
#jPanelMenu-menu { display: none; padding: 0; background: #2b2e30; border-right: 1px solid rgba(0,0,0,0.3); }
#jPanelMenu-menu ul { list-style: none; margin: 0; padding: 0; display: block !important; visibility: visible !important; }
#jPanelMenu-menu li { display: block; float: none; padding: 0; margin: 0; border: none; }
#jPanelMenu-menu > li:last-child {  border-bottom: 1px solid rgba(255,255,255,0.1); }
#jPanelMenu-menu a, #jPanelMenu-menu a:visited { padding: 12px 20px; display: block; border-bottom: 1px solid rgba(0,0,0,0.7); border-top: 1px solid rgba(255,255,255,0.1); color: #eeeeee; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-weight: bold; font-size: 14px; text-shadow: 1px 1px 0 rgba(0,0,0,1); }
#jPanelMenu-menu a:hover {
	background-image: linear-gradient(bottom, rgb(43,46,48) 1%, rgb(50,54,56) 100%);
	background-image: -o-linear-gradient(bottom, rgb(43,46,48) 1%, rgb(50,54,56) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(43,46,48) 1%, rgb(50,54,56) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(43,46,48) 1%, rgb(50,54,56) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(43,46,48) 1%, rgb(50,54,56) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.01, rgb(43,46,48)),
		color-stop(1, rgb(50,54,56))
	);
}
#jPanelMenu-menu a:active {
	background-image: linear-gradient(bottom, rgb(43,46,48) 1%, rgb(34,36,38) 100%);
	background-image: -o-linear-gradient(bottom, rgb(43,46,48) 1%, rgb(34,36,38) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(43,46,48) 1%, rgb(34,36,38) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(43,46,48) 1%, rgb(34,36,38) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(43,46,48) 1%, rgb(34,36,38) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.01, rgb(43,46,48)),
		color-stop(1, rgb(34,36,38))
	);
}
#jPanelMenu-menu a:focus { outline: none; }
#jPanelMenu-menu li ul li a { padding: 9px 0 9px 30px; font-size: 12px; }
#jPanelMenu-menu li ul li ul li a { padding: 9px 0 9px 40px; font-size: 11px; }
#jPanelMenu-menu .sf-sub-indicator { display: none; }
#jPanelMenu-menu li.current-menu-item > a,
#jPanelMenu-menu li.current_page_item > a,
#jPanelMenu-menu li.current-menu-item > a:visited,
#jPanelMenu-menu li.current_page_item > a:visited { }


div.pp_woocommerce .pp_close { top: 9px !important; right: 7px !important; }

/* #Media Queries
================================================== */

@media only screen and ( max-width: 916px ) and ( min-width: 767px ) {
	.artist-photo { width: 100%; }
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	.nav { display:none; }
	#mobile-bar { display: block; }
	body { border:none; }
	.alt-nav-wrap { background: #fff; padding:10px; }
	.alt-nav { display:block; }
	.post-date, .event-date { width:50px; }
	.flickr_badge_image:nth-child(3n+1) { margin-right:10px; }
	.flickr_badge_image:nth-last-of-type(-n+3) { margin-bottom:10px; }
	.alignright { float:none; margin-left:0; }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.sidebar .event-date { width:auto; float:none; padding:10px 5px; text-align: center; }
	.sidebar .event-date span { display:inline; font-size:13px !important; font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important; }
	.product-item .product-price { position: static; width: 100%; padding: 20px 0; float: none; display: block;}
	.product-info { float: none; width: 100%; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 768px) {
	.slider-text-wrap { display:none; }
	.socials-top { height: auto !important; }
	.socials-top .widget.widget_ci_socials_ignited, .socials-top .widget.widget_ci_socials_ignited_fontawesome,
	.socials-top .widget.widget_socials_ignited{ text-align: center; height: auto !important; margin: 5px 0; }
	.logo-container { text-align: center; }
	.socials-top .widget { margin:0; }
	.media-video { background-position: 95% 95%; }
	.media-photo { background-position: 95% 95%; }
	.latest-media-generate .media-block { margin-bottom: 30px; min-height: 0 !important; }
	.sf-with-ul:focus:after,
	.sf-with-ul:after,
	.sf-with-ul:after { display: none !important;}
	.content { margin-bottom: 30px; }
	.flickr_badge_image img { max-width: 60px; height: auto; }

	.woocommerce-tabs .panel.entry-content {
		padding: 15px 0;
		border-left: none;
	}

	.cart-collateral-wrap { padding: 0; }
	.shop_table .product-quantity,
	.shop_table .product-thumbnail { display: none; }
	input[name=apply_coupon] { padding: 11px;
		position: static;
		width: 100%;
	}
	#page > .row { padding: 0; }

	.woocommerce-ordering { position: relative; top: auto; left: auto; right: auto; width: 100%; margin: 10px 0;}
	.product-number { clear: right; }
	.product-list div { min-height: 0 !important; }
	.woocommerce-MyAccount-content,
	.woocommerce-MyAccount-navigation { float: none; width: 100%; }
}

@media only screen and (max-width:767px) {
	.socials-top { top:0 !important; text-align: center; }
}

/* Mobile Sizes (devices and browser) */
@media only screen and (max-width: 480px) {

	.track-no { width: 25px; }
	.track-info { float: none; margin: 18px 0 10px 35px; }
	.widget-tracks .btns { position: static; margin-bottom: 10px; }

	.product-item .product-price { position: static; width: 100%; padding: 20px 0; float: none; display: block;}
	.product-info { float: none; width: 100%; }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.post-date { width:auto; float:none; padding:0 5px; }
	.post-date span { display:inline; font-size:13px !important; font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important; }
	.post-copy-wrap { padding-left:30px; }
	.post-copy { padding:20px 10px 20px 0; }
	.content-inner { padding:20px; }
}
