<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              HOMEPAGE
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Homepage Alt 1</a>
              <a class="dropdown-item" href="#">Homepage Alt 2</a>
              <a class="dropdown-item" href="#">Homepage Alt 3</a>
            </div>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#">NEWS </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SHOP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ARTISTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">DISCOGRAPHY</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">EVENTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">GALLERIES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">VIDEO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">FULLWIDTH</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">CONTACT</a>
        </li>
      </ul>
    </div>
</nav>