nav{
    max-width: 100%;
    padding:10px 15px;
    background-color: aqua;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-ul{
    list-style-type: none;
    display: flex;
}

.my-ul > li{
    padding: 15px 10px;
}